
<h2 ng-show="setPass" class="p-t-1">Create a password</h2>
<h2 ng-show="loginPass" class="p-t-1">Password needed</h2>
<p>Select tiles to make unique pattern</p>
<p ng-show="errorpass" class="errortext">Incorrect! try again</p>
<p ng-show="errormin" class="errortext">Cannot be empty!</p>
<div class="passControl">
	<a class="passBox" ng-click="switchThis(1)" ng-class="({'inverse':passBlock[1]})"></a>
	<a class="passBox" ng-click="switchThis(2)" ng-class="({'inverse':passBlock[2]})"></a>
	<a class="passBox" ng-click="switchThis(3)" ng-class="({'inverse':passBlock[3]})"></a>
	<a class="passBox" ng-click="switchThis(4)" ng-class="({'inverse':passBlock[4]})"></a>
	<a class="passBox" ng-click="switchThis(5)" ng-class="({'inverse':passBlock[5]})"></a>
	<a class="passBox" ng-click="switchThis(6)" ng-class="({'inverse':passBlock[6]})"></a>
	<a class="passBox" ng-click="switchThis(7)" ng-class="({'inverse':passBlock[7]})"></a>
	<a class="passBox" ng-click="switchThis(8)" ng-class="({'inverse':passBlock[8]})"></a>
	<a class="passBox" ng-click="switchThis(9)" ng-class="({'inverse':passBlock[9]})"></a>
</div> 

<a class="btn btn-default" ng-show="setPass" ng-click="addPass()">Set password</a><br/>
<a class="btn btn-default" ng-show="loginPass" ng-click="matchPass()">Login</a>