/*styles*/
body {
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background: #182833;
  color: #7CCDFF;
  font-size: 1.2em;
  line-height: 1.4em; }

button, input[type='text'] {
  background: #fff;
  width: 98%;
  border: none;
  padding: 1.4%;
  font-size: 1.2em;
  margin: 1%;
  border-radius: 4px;
  max-width: 500px;
  color: #7CCDFF; }
  button.grab, input[type='text'].grab {
    font-size: 2em;
    text-transform: uppercase; }

button {
  cursor: pointer; }

input[type='text'] {
  background: #F1F1F1;
  max-width: 480px; }

a {
  color: #7CCDFF; }

.logo {
  padding: 5% 0; }

.ball {
  width: 50px;
  height: 50px;
  background-color: #7CCDFF;
  box-shadow: 0px 0px 15px #7CCDFF;
  border-radius: 50%;
  margin: 8% auto 0;
  animation: ball 800ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
  animation-delay: 0; }
  button .ball {
    margin: 0;
    display: inline-block;
    float: left; }

.shadow {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background-color: #7CCDFF;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -10px;
  opacity: 0.4;
  animation: shadow 800ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
  animation-delay: 0; }

@keyframes ball {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-40px); } }

@keyframes shadow {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1.1);
    opacity: .1; } }

.float-right {
  float: right; }

.container {
  max-width: 800px;
  text-align: center;
  margin: auto; }

.select {
  background: #ccc; }

.loading:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999; }
