/*styles*/
$navy:#182833;
$ball:#7CCDFF;
$grey:#F1F1F1;

html, body, .container {
  height:100%;
}

body {
  //padding: 10px;
  margin:0;
//  font-family: 'Raleway', sans-serif;
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  background: $navy;
  color:$ball;
 }

 .inverse {
  background:$ball;
  color:$navy;
  h2 {
    color:$navy;
  }
 }

button, input[type='text'] {
    background: #fff;
	  color:$ball;
}

input[type='text'] {
background:$grey;
}

a {
	color:$ball;
}

.inline {
  display:inline-block;
}

h2 {
  -webkit-transition:all 200ms;
  transition:all 200ms;
}

.highlight h2 {
  color: lightgreen;
  font-size:2.5rem;
  transition: all 200ms;
}

.passControl {
  width:250px;
  margin:auto;
    .passBox {
      width: 80px;
      height: 80px;
      border: 2px $ball solid;
      display: inline-block;
  }
}

.errortext {
  color:red;
}

////////////////////////////// Ball animation
.logo {
	padding:5% 0;
}
  .ball {
  width: 50px;
  height: 50px;
  background-color: $ball;
  box-shadow:0px 0px 15px $ball;
  border-radius: 50%;
  margin: 8% auto 0;
  //-webkit-animation: ball 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  //animation: ball 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: ballbounce;
  animation-name: ballbounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  button & {
    margin: 0;
    display: inline-block;
    float: left;
  }
}

@-webkit-keyframes ballbounce {
  from, 0%, to {
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  30% {
    -webkit-transform: translate3d(0,-40px,0);
    transform: translate3d(0,-40px,0);
  }
}

.shadow {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background-color: $ball;
  display:block;
  margin: 0 auto;
  position: relative;
  top: -10px;
  opacity: 0.4;
   // -webkit-animation: shadow 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
   // animation: shadow 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  animation-delay: 0;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shadow;
  animation-name: shadow;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
// @keyframes ball {
//   0%{
//     -webkit-transform: translateY(0px);
//     -moz-transform: translateY(0px);
//     -o-transform: translateY(0px);
//     -ms-transform: translateY(0px);
//     transform: translateY(0px);
//   }
//   100% {
//     -webkit-transform: translateY(-40px);
//     -moz-transform: translateY(-40px);
//     -o-transform: translateY(-40px);
//     -ms-transform: translateY(-40px);
//     transform: translateY(-40px);
//   }
// }
@-webkit-keyframes shadow {
  from, 0%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  30% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity:0.2;
  }
}
//////////////////////////////

.container {
  text-align:center;
  background:$navy; 
  overflow-y:auto;
  padding-bottom: 90px;
}

.select {
  background: $ball;
color:$navy;
   }

.loading:before {
	content:"";
  background: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.loading:after {
    content: "\f110";
    -webkit-animation: fa-spin 1s infinite steps(8);
    -moz-animation: fa-spin 1s infinite steps(8);
    -o-animation: fa-spin 1s infinite steps(8);
    -ms-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
    display: inline-block;
    font: normal normal normal 14em FontAwesome;
    font-size: 4em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 99999999999;
    position: absolute;
    top: 10%;
    left: calc(50% - 3%);
}

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { 
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); 
    }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { 
      -webkit-transform:translateX(100%);
      -moz-transform:translateX(100%);
      -o-transform:translateX(100%);
      -ms-transform:translateX(100%);
      transform:translateX(100%); 
    }
    to      { 
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); 
    }
}

.ng-enter           { 
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.ng-leave           { 
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}


//// Bootstrap overrwites
h1, h2, h3, h4, h5, h6 {
  color:$ball;
}

.btn {
  font-size:2rem;
}

.col-sm-3 {
    width: 25%;
    display: inline-block;
    float: left;
}

hr {
  border-top-color:$ball;
}

#footer {
    padding: 0;
    position: fixed;
    border-top: 1px $ball solid;
    width: 100%;
    left: 0;
    bottom: 0;
}
