/*styles*/
html, body, .container {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #182833;
  color: #7CCDFF; }

.inverse {
  background: #7CCDFF;
  color: #182833; }

button, input[type='text'] {
  background: #fff;
  color: #7CCDFF; }

input[type='text'] {
  background: #F1F1F1; }

a {
  color: #7CCDFF; }

.inline {
  display: inline-block; }

.logo {
  padding: 5% 0; }

.ball {
  width: 50px;
  height: 50px;
  background-color: #7CCDFF;
  box-shadow: 0px 0px 15px #7CCDFF;
  border-radius: 50%;
  margin: 8% auto 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: ballbounce;
  animation-name: ballbounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }
  button .ball {
    margin: 0;
    display: inline-block;
    float: left; }

@-webkit-keyframes ballbounce {
  from, 0%, to {
    -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% {
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0); } }

.shadow {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background-color: #7CCDFF;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -10px;
  opacity: 0.4;
  animation-delay: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shadow;
  animation-name: shadow;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@-webkit-keyframes shadow {
  from, 0%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.2; } }

.container {
  text-align: center;
  background: #182833;
  overflow-y: auto;
  padding-bottom: 90px; }

.select {
  background: #7CCDFF;
  color: #182833; }

.loading:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999; }

.loading:after {
  content: "\f110";
  -webkit-animation: fa-spin 1s infinite steps(8);
  -moz-animation: fa-spin 1s infinite steps(8);
  -o-animation: fa-spin 1s infinite steps(8);
  -ms-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
  display: inline-block;
  font: normal normal normal 14em FontAwesome;
  font-size: 4em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 99999999999;
  position: absolute;
  top: 10%;
  left: calc(50% - 3%); }

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out; }
  40% {
    transform: rotateZ(17deg); }
  60% {
    transform: rotateZ(16deg); }
  100% {
    transform: translateY(100%) rotateZ(17deg); } }

/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); } }

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8); } }

/* slide in from the right */
@keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.ng-enter {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.ng-leave {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

h1, h2, h3, h4, h5, h6 {
  color: #7CCDFF; }

.col-sm-3 {
  width: 25%;
  display: inline-block;
  float: left; }

hr {
  border-top-color: #7CCDFF; }

#footer {
  padding: 0;
  position: fixed;
  border-top: 1px #7CCDFF solid;
  width: 100%;
  left: 0;
  bottom: 0; }
