/*styles*/
body {
	padding:10px;
	font-family: arial, sans-serif;
	font-size: 14px;
	background: #ccc;
}

nav {
	border-bottom: 1px #999 solid;
}

.float-right {float: right;}

.container {
	width: 500px;
	margin: auto;
	background: #fff;
}

.container div {
	padding: 10px;
}

.select {
	background: #ccc;
}

.loading {
	background: rgba(0, 0, 0, 0.5);
}