 html,body,#map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
 }

 $paleblue: #B0F7FF;
 $darkblue: #224960;

#ballInfo, #ballHeader {
	position: absolute;
	height: 50px;
	background: $darkblue;
	color: $paleblue;   
	padding: 1em;
	width: 100%;
   font-size: 1.1em;
   font-weight: bold;
   font-family: Helvetica;
   z-index: 2;
}

#ballInfo {
   bottom: 0;
   border-top: 1px $paleblue solid;
}

#ballHeader {
   top: 0;
   border-bottom: 1px $paleblue solid;
}

.style-window {
   background: $paleblue !important;
   color: $darkblue !important;
}
   
.gm-style-iw span {
   font-weight: bold;
}