 html,body,#map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
 }

 $paleblue: #B0F7FF;
 $darkblue: #224960;

 @mixin darkcolour($imp:false){
   @if($imp){
      color: $darkblue !important;   
   }
   @else {
      color: $darkblue;     
   }
 }

  @mixin lightbg(){
   background: $paleblue;
 }

 @mixin darkbg(){
   background: $darkblue;
 }

 h1 {
   font-size: 22px;
   font-weight: bold;
   font-style: italic;
 }

#ballInfo, #ballHeader {
	position: absolute;
	height: 50px;
	background: $darkblue;
	color: $paleblue;   
	padding: 1em;
	width: 100%;
   font-size: 1.1em;
   font-weight: bold;
   font-family: Helvetica;
   z-index: 2;
   img {
      width: 20px;
      float: left;
      margin-right: 10px;
      top: -2px;
      position: relative;
   }
}

#ballInfo {
   bottom: 0;
   border-top: 1px $paleblue solid;
}

#ballHeader {
   top: 0;
   border-bottom: 1px $paleblue solid;
}

.style-window {
   background: $paleblue !important;
   @include darkcolour(true);
}

.gm-style .gm-style-iw {
   @include darkcolour(true);
   span {
      font-weight: bold;
   }
}   

// default tab colours
.content {
   background: $darkblue;
   color: $paleblue;
   input[type=text] {
      @include darkbg();
      color: white;
   }
   .btn.primary {
      background: #FFC107!important;
      @include darkcolour(true);
   }
}

.dialog.active {
   .content, ul.buttons {
      @include lightbg();
      @include darkcolour();
   }
   .btn.primary {
      background: none !important;
   }
}

.header-bar {
   @include lightbg();
   .title, .btn {
      @include darkcolour();
   }
}

#ballCode {
   display:none;
}
